{% include "metaBlock/metaBlock.html.twig" %}
<head>
    <link rel="stylesheet" type="text/css" href="/Assets/css/updateMemberStylus.css">
    <title>MonAdmin - modifier {{ member.userName+' '+member.userFirstname }}</title>
</head>
<body>
<div class="primaryContainer primaryContainer--backgroundImage">
    <div class="primaryContainer__header">
        <?php require 'headerView.php';?>
        {% include "headerView/headerView.html.twig" %}
    </div>
    <div class="memberContainer">
        <form class="formBox" method="post" action="/?controller=updateView&action=updateSelectedMember&param={{ 'userId' }}">
            <div class="blockMember">
                <div class="blockName">
                    <div class="nameBox">
                        <input type="text" name="selectedName" value="{{ member.userName}}">
                        <!--<p>{# item['userName'] #}</p>-->
                    </div>
                    <div class="firstnameBox">
                        <input type="text" name="selectedName" value="{{ member.userFirstname }}">
                        <!--<p>{# member['userId'] #}</p>-->
                    </div>
                </div>
                <div class="blockNickMail">
                    <div class="nicknameBox">
                        <input type="text" name="selectedName" value="{{ member.userNickname }}">
                        <!--<p>{# member['userNickname'] #}</p>-->
                    </div>
                    <div class="mailBox">
                        <input type="text" name="selectedName" value="{{ member.userMail }}">
                        <!--<p>{# member['userMail'] #}</p>-->
                    </div>
                </div>
                <div class="blockJob">
                    <div class="jobBox">
                        <div class="jobAdminBox">
                            <h3>Passer Admin ?</h3>
                        </div>
                        <div class="switchBox">
                            <label class="switch">
                                <input type="hidden" class="switchAdmin" name="switchAdmin" value="0">
                                <input type="checkbox" class="switchAdmin" name="switchAdmin" value="1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="blockButton">
                        <div class="buttonBox">
                            <button type="submit" name="updateBtn">MODIFIER PROFIL</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>